<a href="/login"><button style="background-color: green;width: 200px;height: 50px;margin-left: 75%;"class="btn-btn-primary" >BackTo Login</button></a>
<link rel="stylesheet" href="/static/css/signup.css" type="text/css">
<form action="/forgetPassword" method="post">
    <h3 style="text-align:center;color: rgb(21, 202, 15);">
        <%=message%>
    </h3>
    <div id="mst"class="form-group">
            <h2 class="head">Enter EmailAddress</h2>
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="username"
                aria-describedby="emailHelp" placeholder="Enter email" required>
            <button type="submit" class="btn btn-primary" id="button">Send Mail</button>
        </div>
    </form>